admin_server:
  enabled: true
  listen: 0.0.0.0:8889
cameras:
  gopro-hero-6:
    day_settings:
      trigger_exposure_composite_value: 1.0 # Composite value is ISO * exposure time. 3 = 100 * 0.03s
      # Command reference here: https://github.com/KonradIT/goprowifihack and https://gopro.github.io/OpenGoPro/http
      urlpaths_commands: 
#        - /gp/gpControl/command/mode?p=1
        - /gp/gpControl/command/sub_mode?mode=1&sub_mode=1
#        - /gp/gpControl/setting/17/0
#        - /gp/gpControl/setting/82/0
        - /gp/gpControl/setting/100/1
        - /gp/gpControl/setting/21/1
        - /gp/gpControl/setting/22/0
        - /gp/gpControl/setting/23/0
        - /gp/gpControl/setting/24/1
        - /gp/gpControl/setting/75/3 # ISO Min: 100
        - /gp/gpControl/setting/25/1 # ISO Max: 400
        - /gp/gpControl/setting/97/0
    night_settings:
      trigger_exposure_composite_value: 2.0 
      urlpaths_commands:
        - /gp/gpControl/command/sub_mode?mode=1&sub_mode=2 # Night photo mode
        - /gp/gpControl/setting/19/0 # Exposure time for NightPhoto: Auto
        - /gp/gpControl/setting/21/1 # ProTune on
        - /gp/gpControl/setting/22/0 # Auto AWB (Night scenes with stars should be 4500K)
        - /gp/gpControl/setting/23/1 # Flat Color
        - /gp/gpControl/setting/75/3 # ISO Min: 100
        - /gp/gpControl/setting/24/2 # ISO Max: 200
        - /gp/gpControl/setting/25/2 # Sharpness: low
    astro_settings:
      trigger_exposure_composite_value: 1986.0 # max value in day : 10 * 199. Min value in night: 20 * 99 ISO = 1980
      urlpaths_commands:
        - /gp/gpControl/setting/19/5 # Exposure time for NightPhoto: 20s
        - /gp/gpControl/setting/21/1 # ProTune on
        - /gp/gpControl/setting/22/11 # 4500K for stars
        - /gp/gpControl/setting/23/1 # Flat Color
        - /gp/gpControl/setting/75/3 # ISO Min: 100
        - /gp/gpControl/setting/24/0 # ISO Max: 800
        - /gp/gpControl/setting/25/2 # Sharpness: low
    gopro_ble_identifier: '8608'
    gopro_ip: 10.5.5.9
    gopro_model: hero6
    lat: 37.75676
    lon: -122.44577
    postprocessing:
    - type: crop
      area: 0,0,4000,2250
    - type: resize
      width: 2560
    - background_color: (100, 100, 100)
      color: white
      enabled: true
      position: top_right
      size: 36
      type: timestamp
    - enabled: true
      major_bar_color: grey
      major_bar_width: 4
      minor_bar_color: '#333333'
      minor_bar_width: 2
      overlay_bar_color: rgba(255, 0, 0, 0.5)
      overlay_bar_width: 4
      overlay_border_color: white
      overlay_border_width: 3
      overlay_rect_height_ratio: 1
      overlay_rect_width: 15
      overlay_width: 1000
      padding: 5
      position: bottom_center
      type: sun_path
    sky_area: 0.436,0.000,0.847,0.492
    ssim_area: 0.255,0.037,1.000,0.353
    sunrise_sunset:
      enabled: true
      sunrise_offset_start_minutes: 0 # Camera is pointing north west so nothing happens before sunrise
      sunrise_offset_end_minutes: 60 # Blissful golden sunrise light is very pretty, let's slow down to enjoy the moment
      sunset_offset_start_minutes: 30
      sunset_offset_end_minutes: 60
global:
  log_dir: /srv/fenetre/logs
  logging_level: INFO
    #logging_levels:
    #  gopro: DEBUG
  storage_management:
    check_interval_s: 300
    dry_run: false
    enabled: true
    work_dir_max_size_GB: 30
  timezone: America/Los_Angeles
  deployment_name: dev.fenetre.cam
  ui:
    fullscreen_camera: gopro-hero-6
    landing_page: fullscreen
    show_main_website_icon: true
    show_map_by_default: true
    show_github_icon: true
    linked_deployments: 
      - base_url: https://isitfoggy.com
      - base_url: http://blackpi.275bur.net:8888/
  work_dir: /srv/fenetre/data
http_server:
  enabled: true
  listen: 0.0.0.0:8888
timelapse:
  daily_timelapse:
    enabled: true
    ffmpeg_2pass: true
    ffmpeg_options: -c:v libvpx-vp9 -b:v 7M
    file_extension: webm
    framerate: 60
  frequent_timelapse:
    enabled: false
    ffmpeg_2pass: false
    ffmpeg_options: -extbrc 1 -look_ahead 1 -look_ahead_depth 60 -g 120 -bf 3 -preset
      veryslow -c:v hevc_qsv -b:v 4M -maxrate 5M -bufsize 8M -profile:v main -movflags
      +faststart
    file_extension: mp4
