[Unit]
Description=Fetch images and build timelapses

[Service]
ExecStart=/srv/fenetre/venv/bin/python /srv/fenetre/fenetre.py --config=/srv/fenetre/config.yaml
User=fenetre
Restart=always
Environment=TZ=America/Los_Angeles

[Install]
WantedBy=multi-user.target
Alias=canaredn.service