[Unit]
Description=Fetch images and build timelapses

[Service]
ExecStart=/srv/fenetre.cam/venv/bin/python -m fenetre.fenetre --config=/srv/fenetre.cam/config.yaml
User=fenetre
Restart=always
Environment=TZ=America/Los_Angeles

[Install]
WantedBy=multi-user.target
Alias=fenetre.service
