logzero  # see github.com/metachris/logzero
pytz
pyyaml
#dev only
mock
black
pytest
requests
ffmpeg-python
absl-py
pillow
# SSIM
SSIM-PIL
numpi
pyopencl
python-daemon
#Pictures
mozjpeg-lossless-optimization
opencv-python
siphash24
scikit-image
open-gopro
bleak
