## Mandatory dependencies
pytz
pyyaml
absl-py
logzero
numpy
cairosvg
# python-daemon

## Optional
astral # Slow down timelapses aorund sunrise/sunset
Flask # Not necessary if no web servers are enabled

# For URL or GoPro cameras
requests

# Native Raspberry Pi camera (Currently unused)
#picamera2
#rpi-libcamera #Requires libcap-dev and libcamera-dev

# For GoPro only
# open-gopro
bleak

#Picture optimization (not necessary if postprocessing)
mozjpeg-lossless-optimization

# For admin server
waitress
prometheus-client
pyexiv2

# Postprocessing
# opencv-python
# siphash24
# SSIM
scikit-image

## Dev only
mock
black
pytest